body {
  font-family: sans-serif;
  background-color: #E4E4E4;
}
.logo {
  position: top;
}
.image {
  width: 15%
}
.sidebar {
  float: left;
  width: 18%;
  margin: auto;
  border: 2px #BABABA;
  padding: 4px;
  box-sizing: border-box;
  background-color: #C5C5C5;
}
.centered {
  font-size: 16px;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 80%;
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
  text-align: center;
}
h2 {
  font-family: sans-serif;
}
ul {
  font-size: 14px;
  line-height: 15px;
  margin: 15px;
  box-sizing: content-box;
}
.about {
  font-weight: bolder;
  color: #36454f;
}
.project {
  font-style: italic;
  font-size: 24px;
  margin: auto;
}
ol {
  text-align: left;
  margin-left: auto;
}