body {
  background-color: rgba(245, 245, 245, 0.534);
}
h1 {
  font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  font-style: italic;
  font-size: 12px;
  line-height: 10px;
}